<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
      <a href="https://github.com/p886" title="GitHub"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://twitter.com/p886" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="mailto:philippantar@gmail.com" title="Email"><i class="fa fa-envelope fa-2x"></i></a>
      <p class="lead">Web Developer, Musician, Student Of Life</p>
    </div>

    <ul class="sidebar-nav">
      <a href="/posts">Blog Posts</a>
      <hr>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>
  </div>
</div>
